$--color-primary: #28dbdb;
$--color-secondary: #83dddd;
// $--color-typography-primary: #222222;
$--color-typography-primary: #49443d;
$--color-typography-secondary: #49443d;
$--color-typography-tertiary: #888888;

$--menu-breakpoint: 800px;